<div class="subparaghaph">
    <div class="subparaghaph__title">
        {{ education.date_range }} :
        <a href="{{ education.school_url }}">{{ education.school }}</a>
    </div>
    <div class="subparaghaph__body">
        {% if education.department %}
           Факультет: {{ education.department }}
            {% if education.speciality %}
                ({{ education.speciality }})
            {% endif %}
        {% elif education.speciality %}
            Специальность: {{ education.speciality }}
        {% endif %}

        {% if education.is_current and education.completion_date%}
            <br>Дата окончания: {{ education.formatted_completion_date }}
        {% endif %}

        {% if education.summary %}
            <br>{{ education.summary }}
        {% endif %}
    </div>
</div>