<div class="subparaghaph">
    <div class="subparaghaph__title">
        {{ education.date_range }} :
        {% if education.school.school_url %}
            <a href="{{ education.school.school_url }}">{{ education.school }}</a>
        {% else %}
            {{ education.school }}
        {% endif %}
    </div>
    <div class="subparaghaph__body">
        {% if education.department %}
           Факультет: {{ education.department }}<br>
        {% endif %}
        {% if education.speciality %}
            Специальность: {{ education.speciality }}<br>
        {% endif %}

        {% if education.is_current and education.completion_date%}
            Дата окончания: {{ education.formatted_completion_date }}<br>
        {% endif %}

        {% if education.summary %}
            {{ education.summary }}<br>
        {% endif %}
    </div>
</div>