@import url("bootstrap/css/bootstrap.min.css");
@import url("bootstrap/css/bootstrap-theme.css");


body {
    /* Space out content a bit */
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #eee;
}

/* Customize container */
.container {
    max-width: 780px;
}
#page {
    background-color: white;
    padding: 0px 40px;
    border: 1px solid #e4e4e4;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Navigation */
.header .nav {
    margin-top: -10px;
}
.header .nav li {
    margin-left: 5px;
}

#content {
    margin: 20px 0;
}