@import url("global.css");
@import url("header.css");
@import url("content.css");


body {
    /* Space out content a bit */
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #eee;
}

#page {
    margin: 0 auto 60px auto;
    background-color: white;
    padding: 0px 40px 40px 40px;
    border: 1px solid #e4e4e4;
    max-width: 780px;
}